/* C3 Charts */

.c3-line {
    stroke-width: 2px;
}

.c3-circle {
    fill: theme-color(danger) !important;
}

.c3 {

    .line,
    .path {
        stroke: #fff;
    }

    .text {
        stroke: #fff;
    }
}